<fieldset class="{{type}}-group {{ groupModifier }} mbe24">
  <legend class="{{type}}-legend">How often to email me</legend>
  <label class="{{type}}-label-wrap {{ labelWrapModifier }} ">
    <input class="{{type}} {{ inputModifier }} "
           type="{{type}}"
           name="daily"
           focusable="false" />
    <span class="{{type}}-label {{ labelModifier }}" aria-hidden="true"></span>
    <span class="{{type}}-label-copy {{ labelCopyModifier }}">Send me daily emails</span>
  </label>
  <label class="{{type}}-label-wrap {{ labelWrapModifier }} ">
    <input class="{{type}} {{ inputModifier }} "
           type="{{type}}"
           name="monthly"
           focusable="false" />
    <span class="{{type}}-label {{ labelModifier }}" aria-hidden="true"></span>
    <span class="{{type}}-label-copy {{ labelCopyModifier }}">Mail me a montly statements</span>
  </label>
  <label class="{{type}}-label-wrap {{ labelWrapModifier }} ">
    <input class="{{type}} {{ inputModifier }} "
           type="{{type}}"
           name="weekly"
           focusable="false" />
    <span class="{{type}}-label {{ labelModifier }}" aria-hidden="true"></span>
    <span class="{{type}}-label-copy {{ labelCopyModifier }}">Send weekly solicitations</span>
  </label>
</fieldset>
