<section class="mbe40">
  <h3>{{ title }} </h3>
  <div>
    <button class="btn btn-{{modifier}} {{layoutModifier}}">Go</button>
    <button class="btn btn-{{modifier}} btn-rounded {{layoutModifier}}">Go</button>
    <button class="btn btn-{{modifier}} btn-rounded btn-bordered {{layoutModifier}}">Go</button>
  </div>
</section>
