<a href="http://yahoo.com">Random Yahoo link to test keyboard navigation.</a>
<form>
  <label class="switch-container {{containerModifiers}}"
         for="{{id}}">
    Switch {{title}}
    <input class="switch-input"
           type="checkbox"
           id="{{id}}"
           role="switch"
           aria-checked="false"
           data-agnostic-switch />
    <span class="switch {{modifiers}}"
          aria-hidden="true"></span>
  </label>
</form>
<a href="http://yahoo.com">Random Yahoo link to test keyboard navigation.</a>
</main>
<script src="/js/switch.js"></script>
