---
import 'agnostic-css/src/components/choice-input/choice-input.css';

import XElement from 'astro-xelement'
import { pluckClassesFromAttrs } from '../../shared/pluckClassesFromAttrs';

export interface Props {
  options: { name: string, value: string; label: string; }
  size?: 'small' | 'large';
  type?: 'checkbox' | 'radio';
  legendLabel: string;
  checkedOptions: string[];
  disabledOptions: string[];
  isDisabled?: boolean;
  isFieldsetHidden?: boolean;
  isInline?: boolean;
}

const {
  options,
  size,
  legendLabel,
  checkedOptions = [],
  disabledOptions = [],
  isDisabled = false,
  isFieldsetHidden = false,
  isInline = false,
  type = 'checkbox',
  ...attrs
} = Astro.props as Props;

const { uniqueId, fieldset: AgChoiceInput, input: AgChoiceInputNative } = XElement;
const { additionalClassList } = pluckClassesFromAttrs(attrs);
---
<AgChoiceInput
  id={uniqueId}
  class:list={[
    `${type}-group`,
    {
      [`${type}-group-small`]: size == 'small' ? true : false,
      [`${type}-group-large`]: size == 'large' ? true : false,
      [`${type}-group-hidden`]: isFieldsetHidden ? true : false,
    },
    additionalClassList,
  ]}
  {...attrs}
>
  <legend class=`${type}-legend`>{legendLabel}</legend>
  {options.map((option) => <label disabled={isDisabled || disabledOptions.includes(option.value)} class:list={[`${type}-label-wrap`, {[`${type}-label-wrap-inline`]: isInline ? true : false}, ]}>
    <AgChoiceInputNative class:list={[
        `${type}`,
        {
          [`${type}-small`]: size === 'small' ? true : false,
          [`${type}-large`]: size === 'large' ? true : false,
        }
      ]}
      type={type}
      name={option.name}
      value={option.value}
      focusable="false"
      disabled={isDisabled || disabledOptions.includes(option.value)}
      checked={checkedOptions.includes(option.value)}
    />
    <span class:list={[
        `${type}-label`,
        {
          [`${type}-label-small`]: size === 'small' ? true : false,
          [`${type}-label-large`]: size === 'large' ? true : false,
        }
      ]}
      aria-hidden="true"
    ></span>
    <span class:list={[
        `${type}-label-copy`,
        {
          [`${type}-label-copy-small`]: size === 'small' ? true : false,
          [`${type}-label-copy-large`]: size === 'large' ? true : false,
        }
      ]}
    >{option.label}</span>
  </label>)}
</AgChoiceInput>
