---
import XElement from 'astro-xelement'
import { pluckClassesFromAttrs } from '../../shared/pluckClassesFromAttrs';

// Supplies the required global dialog classes (arbitrary classes won't work!)
import 'agnostic-css/src/components/dialog/dialog.css';
import 'agnostic-css/src/components/dialog/drawer.css';
import 'agnostic-css/src/components/dialog/drawer-animations.css';

export interface Props {
  dialogId: string;
  drawerPlacement: 'start' | 'end' | 'top' | 'bottom';
  titleId: string;
  isAnimatedSlideUp?: boolean;
  isAnimatedFadeIn?: boolean;
  role?: 'dialog' | 'alertdialog';
}

const {
  dialogId,
  drawerPlacement = '',
  titleId,
  isAnimatedSlideUp = false,
  isAnimatedFadeIn = true,
  role = "dialog",
  ...attrs
} = Astro.props as Props;

const { AgDialog } = XElement;
const _dialogId = dialogId;
const { additionalClassList } = pluckClassesFromAttrs(attrs);
---

<AgDialog
  define:vars={{
    dialogId: _dialogId,
  }}
  @do={async (element) => {
    const agDialogElement = document.getElementById(dialogId)
    const a11y = (await import('https://cdn.skypack.dev/a11y-dialog')).default
    // We don't need the instance because (for now) we're leveraging
    // a11y-dialog's ability to utilize data-a11y-dialog-show="SOME_ID"
    new a11y(agDialogElement);
  }}
>
  <div
    id={dialogId}
    class:list={[
      'dialog',
      {
        [`drawer-${drawerPlacement}`]: drawerPlacement.length ? true : false,
      },
      {...additionalClassList}
    ]}
    role={role}
    aria-hidden="true"
    aria-labelledby={titleId}
  >
    <div
      data-a11y-dialog-hide={role === 'alertdialog' ? undefined : true}
      tabindex={-1}
      class="dialog-overlay"
    />
    <div
      class:list={[
        'dialog-content',
        {
          'dialog-fade-in': isAnimatedFadeIn ? true : false,
          'dialog-slide-up': isAnimatedSlideUp ? true : false,
          'drawer-content': drawerPlacement.length ? true : false,
          [`drawer-slide-${drawerPlacement}`]: drawerPlacement.length ? true : false,
        },
      ]}
      role="document"
    >
      <slot />
    </div>
  </div>
</AgDialog>
