<fieldset class="{{type}}-group {{ groupModifier }}">
  <legend class="{{type}}-legend">How often to email me</legend>
  <label class="{{type}}-label-wrap {{ labelWrapModifier }} ">
    <input class="{{type}} {{ inputModifier }} "
           type="{{type}}"
           name="daily"
           aria-hidden="true"
           focusable="false" />
    <span class="{{type}}-label {{ labelModifier }}">Send me daily emails</span>
  </label>
  <label class="{{type}}-label-wrap {{ labelWrapModifier }} ">
    <input class="{{type}} {{ inputModifier }} "
           type="{{type}}"
           name="monthly"
           aria-hidden="true"
           focusable="false" />
    <span class="{{type}}-label {{ labelModifier }}">Mail me a montly statements</span>
  </label>
  <label class="{{type}}-label-wrap {{ labelWrapModifier }} ">
    <input class="{{type}} {{ inputModifier }} "
           type="{{type}}"
           name="weekly"
           aria-hidden="true"
           focusable="false" />
    <span class="{{type}}-label {{ labelModifier }}">Send weekly solicitations</span>
  </label>
</fieldset>
