---
import { Code } from 'astro/components';
// We can use this too but will need to go grab a CSS theme
// import { Prism } from '@astrojs/prism';

import XElement from 'astro-xelement'

import AgAlert from '../../lib/components/Alert.astro'

import BaseLayout from '../../layouts/BaseLayout.astro';

const { HContainer} = XElement;

const copy = 'Alert messages should be timely and concise.';
---
  <BaseLayout>
    <div class="h3 mbs40">Alerts</div>
    <HContainer class="container">
      <p class="mbs24 mbe24">AgnosticUI's Astro package utilizes <a href="https://github.com/astro-community/xelement" target="_blank">XElement</a> which exposes native events and
      a handy <code>store</code>. Here's an <a href="https://github.com/AgnosticUI/agnosticui/tree/master/agnostic-astro" target="_blank">agnostic-astro</a> alert:</p>
      <Code code={`<AgAlert>Your alert</AgAlert>`} lang="html" wrap />
      <div class="mbe24" />
      <AgAlert>
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert isBorderAll>
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert isBorderLeft>
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert isBorderTop>
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert isBorderBottom>
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert isBorderRight>
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert type="dark">
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert type="success">
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert type="info">
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert type="warning">
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert type="error">
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert isIcon type="dark">
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert isIcon type="success">
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert isIcon type="info">
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert isIcon type="warning">
        <p>{copy}</p>
      </AgAlert>
      <div class="mbe24" />
      <AgAlert isIcon type="error">
        <p>{copy}</p>
      </AgAlert>
    </HContainer>
  </BaseLayout>
  