---
import { Code } from 'astro/components';
// We can use this too but will need to go grab a CSS theme
// import { Prism } from '@astrojs/prism';

import XElement from 'astro-xelement'

import AgBreadcrumbs from '../../lib/components/Breadcrumbs.astro'
import AgBreadcrumb from '../../lib/components/Breadcrumb.astro'

import BaseLayout from '../../layouts/BaseLayout.astro';

const { HContainer} = XElement;

const link1  = 'Tennis';
const link2 = 'Superstars';
const link3 = 'Serena Williams';
---
  <BaseLayout>
    <div class="h3 mbs40">Breadcrumbs</div>
    <HContainer class="container">
      <p class="mbs24 mbe24">The <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a>
      package utilizes <a href="https://github.com/astro-community/xelement" target="_blank">XElement</a> under-the-hood in order to provide build-time
      <a href="https://docs.astro.build/en/core-concepts/astro-components/" target="_blank">Astro components</a>. These build-time components will help
      your project get closer to realizing a mostly <span class="quoted">no client-side runtime</span>…if you do it right, this should mean an all-green 100% Lighthouse performance score!
      Leverage the benefits of <a href="https://docs.astro.build/en/core-concepts/partial-hydration/#island-architecture" target="_blank">Islands architecture</a>
      by sending mostly server built <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a> components. Then,
      sprinkle client-hydrated ones only as needed.</p>

      <div class="h4 mbe24">Usage</div>
      <p class="mbe12">AgnosticUI requires the import of the <code>common.min.css</code> from your Astro base layout:
      <Code code={`import 'agnostic-css/public/css-dist/common.min.css';`} lang="javascript" wrap />
      </p>
      <p class="mbs24 mbe12">Then you can import Astro Breadcrumb components:
      <Code code={`import AgBreadcrumbs from 'agnostic-astro/Breadcrumbs.astro';
import AgBreadcrumb from 'agnostic-astro/Breadcrumb.astro';`} lang="javascript" wrap />
      </p>
      <p class="mbs24 mbe12">Here's the <a href="https://github.com/AgnosticUI/agnosticui/tree/master/agnostic-astro" target="_blank">agnostic-astro</a> Alert component in use:</p>
      <Code code={`<AgBreadcrumbs>
  <AgBreadcrumb>
    <li class="breadcrumb-item"><a href="#">{link1}</a></li>
    <li class="breadcrumb-item"><a href="#">{link2}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{link3}</li>
  </AgBreadcrumb>
</AgBreadcrumbs>
<div class="mbe24" />
<AgBreadcrumbs>
  <AgBreadcrumb isBullet>
    <li class="breadcrumb-item"><a href="#">{link1}</a></li>
    <li class="breadcrumb-item"><a href="#">{link2}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{link3}</li>
  </AgBreadcrumb>
</AgBreadcrumbs>`} lang="html" wrap />
      <div class="mbe24" />
      <div class="h4 mbs24">Three items—multiple variants:</div>
      <div class="mbe24" />
      <AgBreadcrumbs>
        <AgBreadcrumb>
          <li class="breadcrumb-item"><a href="#">{link1}</a></li>
          <li class="breadcrumb-item"><a href="#">{link2}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{link3}</li>
        </AgBreadcrumb>
      </AgBreadcrumbs>
      <div class="mbe24" />
      <AgBreadcrumbs>
        <AgBreadcrumb isBullet>
          <li class="breadcrumb-item"><a href="#">{link1}</a></li>
          <li class="breadcrumb-item"><a href="#">{link2}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{link3}</li>
        </AgBreadcrumb>
      </AgBreadcrumbs>
      <div class="mbe24" />
      <AgBreadcrumbs>
        <AgBreadcrumb isArrow>
          <li class="breadcrumb-item"><a href="#">{link1}</a></li>
          <li class="breadcrumb-item"><a href="#">{link2}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{link3}</li>
        </AgBreadcrumb>
      </AgBreadcrumbs>
      <div class="mbe24" />
      <AgBreadcrumbs>
        <AgBreadcrumb isSlash>
          <li class="breadcrumb-item"><a href="#">{link1}</a></li>
          <li class="breadcrumb-item"><a href="#">{link2}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{link3}</li>
        </AgBreadcrumb>
      </AgBreadcrumbs>
      <div class="h4 mbs24">Two items</div>
      <div class="mbe24" />
      <AgBreadcrumbs>
        <AgBreadcrumb isSlash>
          <li class="breadcrumb-item"><a href="#">{link2}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{link3}</li>
        </AgBreadcrumb>
      </AgBreadcrumbs>
      <div class="h4 mbs24">One item (active page only)</div>
      <div class="mbe24" />
      <AgBreadcrumbs>
        <AgBreadcrumb isSlash>
          <li class="breadcrumb-item active" aria-current="page">{link3}</li>
        </AgBreadcrumb>
      </AgBreadcrumbs>
    </HContainer>
  </BaseLayout>
  