<section>
  <div class="{{baseClass}} {{tabListModifiers}}"
       role="tablist">
    <button class="tab-item tab-button {{modifiers}} active"
            role="tab"
            aria-selected="true">Tab 1</button>
    <button class="tab-item tab-button {{modifiers}}"
            role="tab"
            aria-selected="false">Tab 2</button>
  </div>
  <tab tab-title="Tab 1">
    <div>{{tab1Text}}</div>
  </tab>
  <tab hidden
       tab-title="Tab 2">
    <div hidden="">{{tab2Text}}</div>
  </tab>
</section>
