<nav aria-label="breadcrumbs">
  <ol class="{{modifiers}}">
    <li class="breadcrumb-item active"
        aria-current="page">{{link1}}</li>
  </ol>
</nav>

<nav aria-label="breadcrumbs">
  <ol class="{{modifiers}}">
    <li class="breadcrumb-item"><a href="#">{{link1}}</a></li>
    <li class="breadcrumb-item active"
        aria-current="page">{{link2}}</li>
  </ol>
</nav>

<nav aria-label="breadcrumbs">
  <ol class="{{modifiers}}">
    <li class="breadcrumb-item"><a href="#">{{link1}}</a></li>
    <li class="breadcrumb-item"><a href="#">{{link2}}</a></li>
    <li class="breadcrumb-item active"
        aria-current="page">{{link3}}</li>
  </ol>
</nav>
