<div class="alert-toast top start">
  <div class="alert alert-dark"
      role="alert" aria-live="polite" aria-atomic="true">
    <svg class="alert-icon {{ svgModifier }}"
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 0 24 24"
        width="24">
      <path d="M0 0h24v24H0z"
            fill="none" />
      <path fill="currentColor"
            d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
    </svg>
    <p>{{title}} {{ text }}</p>
  </div>
</div>
<div class="alert-toast top end">
  <div class="alert alert-dark"
      role="alert" aria-live="polite" aria-atomic="true">
    <p>{{title}} {{ text }}</p>
  </div>
</div>
<div class="alert-toast top center">
  <div class="alert alert-error"
      role="alert" aria-live="assertive" aria-atomic="true">
    <p>{{ text }}. Errors use aria-live assertive</p>
  </div>
</div>
<div class="alert-toast bottom start">
  <div class="alert alert-rounded alert-warning"
      role="alert">
    <svg class="alert-icon alert-warning-icon"
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 0 24 24"
        width="24">
      <path d="M0 0h24v24H0z"
            fill="none" />
      <path fill="currentColor"
            d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
    </svg>
    <p>{{title}} {{ text }}</p>
  </div>
</div>
<div class="alert-toast bottom end">
  <div class="alert alert-rounded alert-dark"
     role="alert" aria-live="polite" aria-atomic="true">
    <p>{{title}} {{ text }}</p>
  </div>
</div>
<div class="alert-toast bottom center">
  <div class="alert alert-rounded alert-dark"
     role="alert" aria-live="polite" aria-atomic="true">
    <p>{{title}} {{ text }}</p>
  </div>
</div>
